<h1>All Songs</h1>
<hr/>

<% @music.each do |song| %>
  <div class="music">
    <h3><a href="/music/<%= song.id %>"><%= song.song_title %></a> <small>(by: <%= song.author %>)</small></h3>
    <p>
      <a href="<%= song.url %>"><%= song.url %></a>
    </p>
  </div>
<% end %>

<a href="/music/new">Post a song... It's FREE (for now)!</a>